<h1>Create a new Figure:</h1>

<form action="/figures/new" method="post">
  <p>Figure Name: <input type="text" name="name"></p>
  <%if !Title.all.empty?%>
  Please Choose the appropriate titles from the list below:
  <%Title.all.each do |title|%>

  <%end%>
  <%end%>

  <input type="submit" name="Submit" value="Create">
</form>
